In [425]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error,r2_score

In [426]:
df = pd.read_csv("C:/Users/athul/Downloads/Car Sales Missing Data.csv")

In [427]:
df

       Make Colour  Odometer (KM)  Doors      Price
0    Nissan  Black        10148.0    4.0  Rs1366850
1    Toyota  White        10217.0    4.0  Rs1144150
2    Toyota  White        10247.0    4.0  Rs1628300
3     Honda  White        10953.0    4.0   Rs831800
4    Nissan   Blue        10954.0    4.0  Rs1521950
..      ...    ...            ...    ...        ...
995  Toyota  White            NaN    4.0  Rs1706650
996  Toyota  White            NaN    4.0  Rs1767900
997     BMW  White            NaN    5.0  Rs1906400
998  Toyota  White            NaN    4.0        NaN
999  Toyota  White            NaN    4.0        NaN

[1000 rows x 5 columns]

In [428]:
df.head()

     Make Colour  Odometer (KM)  Doors      Price
0  Nissan  Black        10148.0    4.0  Rs1366850
1  Toyota  White        10217.0    4.0  Rs1144150
2  Toyota  White        10247.0    4.0  Rs1628300
3   Honda  White        10953.0    4.0   Rs831800
4  Nissan   Blue        10954.0    4.0  Rs1521950

In [429]:
df['Colour'].value_counts()

Colour
White    390
Blue     302
Black     95
Red       88
Green     75
Name: count, dtype: int64

In [430]:
df=pd.get_dummies(df,columns=['Colour'],dtype=int)

In [438]:
df.isnull().sum()

Make              0
Odometer (KM)    50
Doors             0
Price            50
Colour_Black      0
Colour_Blue       0
Colour_Green      0
Colour_Red        0
Colour_White      0
dtype: int64

In [432]:
df.dtypes

Make              object
Odometer (KM)    float64
Doors            float64
Price             object
Colour_Black       int32
Colour_Blue        int32
Colour_Green       int32
Colour_Red         int32
Colour_White       int32
dtype: object

In [433]:
df["Doors"]=df["Doors"].fillna(df["Doors"].mean())

In [434]:
df['Doors']

0      4.0
1      4.0
2      4.0
3      4.0
4      4.0
      ...
995    4.0
996    4.0
997    5.0
998    4.0
999    4.0
Name: Doors, Length: 1000, dtype: float64

In [435]:
df['Make'].unique()

array(['Nissan', 'Toyota', 'Honda', 'BMW', nan], dtype=object)

In [436]:
df["Make"]=df["Make"].ffill()

In [437]:
df['Make']

0      Nissan
1      Toyota
2      Toyota
3       Honda
4      Nissan
        ...
995    Toyota
996    Toyota
997       BMW
998    Toyota
999    Toyota
Name: Make, Length: 1000, dtype: object

In [422]:
df['Colour']=df['Colour'].bfill()

KeyError: 'Colour'

In [423]:
df['Colour']

KeyError: 'Colour'

In [439]:
df['Odometer (KM)']=df['Odometer (KM)'].mean()

In [440]:
df['Odometer (KM)']

0      131253.237895
1      131253.237895
2      131253.237895
3      131253.237895
4      131253.237895
           ...
995    131253.237895
996    131253.237895
997    131253.237895
998    131253.237895
999    131253.237895
Name: Odometer (KM), Length: 1000, dtype: float64

In [441]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Odometer (KM)  1000 non-null   float64
 2   Doors          1000 non-null   float64
 3   Price          950 non-null    object
 4   Colour_Black   1000 non-null   int32
 5   Colour_Blue    1000 non-null   int32
 6   Colour_Green   1000 non-null   int32
 7   Colour_Red     1000 non-null   int32
 8   Colour_White   1000 non-null   int32
dtypes: float64(2), int32(5), object(2)
memory usage: 50.9+ KB

In [442]:
df.dropna(subset=['Price'],inplace=True)

In [443]:
df['Price']=df['Price'].str.replace('Rs','').astype(int)

In [444]:
mean_price=df['Price'].mean()

In [445]:
df['Price']=df['Price'].fillna(mean_price)

In [446]:
df['Price']

0      1366850
1      1144150
2      1628300
3       831800
4      1521950
        ...
993    1520600
994    1644350
995    1706650
996    1767900
997    1906400
Name: Price, Length: 950, dtype: int32

In [313]:
X=df.drop('Price',axis=1)

In [315]:
X

       Make Colour  Odometer (KM)  Doors
0    Nissan  Black  131253.237895    4.0
1    Toyota  White  131253.237895    4.0
2    Toyota  White  131253.237895    4.0
3     Honda  White  131253.237895    4.0
4    Nissan   Blue  131253.237895    4.0
..      ...    ...            ...    ...
993     BMW   Blue  131253.237895    5.0
994     BMW  White  131253.237895    5.0
995  Toyota  White  131253.237895    4.0
996  Toyota  White  131253.237895    4.0
997     BMW  White  131253.237895    5.0

[950 rows x 4 columns]

In [274]:
Y=df['Price']

In [275]:
Y

0      802140.736842
1      802140.736842
2      802140.736842
3      802140.736842
4      802140.736842
           ...
993    802140.736842
994    802140.736842
995    802140.736842
996    802140.736842
997    802140.736842
Name: Price, Length: 950, dtype: float64

In [348]:
le=LabelEncoder()

In [349]:
df['Colour']=le.fit_transform(df['Colour'])

In [350]:
df['Make']=le.fit_transform(df['Make'])

In [351]:
df['Make']

0      2
1      3
2      3
3      1
4      2
      ..
993    0
994    0
995    3
996    3
997    0
Name: Make, Length: 950, dtype: int64

In [352]:
df['Colour']

0      0
1      4
2      4
3      4
4      1
      ..
993    1
994    4
995    4
996    4
997    4
Name: Colour, Length: 950, dtype: int64

In [353]:
df.head()

   Make  Colour  Odometer (KM)  Doors    Price
0     2       0  131253.237895    4.0  1366850
1     3       4  131253.237895    4.0  1144150
2     3       4  131253.237895    4.0  1628300
3     1       4  131253.237895    4.0   831800
4     2       1  131253.237895    4.0  1521950

In [354]:
df['Make']

0      2
1      3
2      3
3      1
4      2
      ..
993    0
994    0
995    3
996    3
997    0
Name: Make, Length: 950, dtype: int64

In [356]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [357]:
X_train

       Make Colour  Odometer (KM)     Doors
934     BMW   Blue  131253.237895  5.000000
727  Nissan   Blue  131253.237895  3.000000
228   Honda  White  131253.237895  4.011579
82      BMW    Red  131253.237895  3.000000
158  Toyota    Red  131253.237895  4.000000
..      ...    ...            ...       ...
113  Nissan  White  131253.237895  4.000000
287   Honda   Blue  131253.237895  4.000000
907  Toyota   Blue  131253.237895  4.000000
456   Honda   Blue  131253.237895  4.000000
109  Nissan   Blue  131253.237895  3.000000

[665 rows x 4 columns]

In [345]:
X_test

     Make  Colour  Odometer (KM)     Doors
211     1       1  131253.237895  4.000000
977     2       1  131253.237895  4.000000
726     2       4  131253.237895  4.000000
838     3       2  131253.237895  4.000000
922     3       2  131253.237895  4.011579
..    ...     ...            ...       ...
578     0       0  131253.237895  5.000000
712     0       4  131253.237895  5.000000
646     2       4  131253.237895  4.000000
425     3       1  131253.237895  4.000000
244     3       4  131253.237895  4.000000

[285 rows x 4 columns]

In [282]:
rf = RandomForestClassifier()

In [283]:
rf.fit(X_train,Y_train)

ValueError: Unknown label type: 'continuous'

In [284]:
df['Price']

0      802140.736842
1      802140.736842
2      802140.736842
3      802140.736842
4      802140.736842
           ...
993    802140.736842
994    802140.736842
995    802140.736842
996    802140.736842
997    802140.736842
Name: Price, Length: 950, dtype: float64

In [285]:
df[df['Price']<0]

Empty DataFrame
Columns: [Make, Colour, Odometer (KM), Doors, Price]
Index: []