In [227]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [228]:
df = pd.read_csv("C:/Users/athul/Downloads/Most Streamed Spotify Songs 2024.csv", encoding='latin-1')

In [229]:
df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [230]:
df.isnull().sum()

Track                            0
Album Name                       0
Artist                           5
Release Date                     0
ISRC                             0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3333
Shazam Counts                  577
TIDAL Popularity              4600
Explicit Track                   0
dtype: int64

In [231]:
null_mask = df.isnull().any(axis=1)
rows_with_nulls = df[null_mask]
print(rows_with_nulls)

                                Track                        Album Name  \
0                 MILLION DOLLAR BABY      Million Dollar Baby - Single
1                         Not Like Us                       Not Like Us
2          i like the way you kiss me        I like the way you kiss me
3                             Flowers                  Flowers - Single
4                             Houdini                           Houdini
...                               ...                               ...
4595                For the Last Time                 For the Last Time
4596                 Dil Meri Na Sune  Dil Meri Na Sune (From "Genius")
4597            Grace (feat. 42 Dugg)                           My Turn
4598              Nashe Si Chadh Gayi             November Top 10 Songs
4599  Me Acostumbre (feat. Bad Bunny)   Me Acostumbre (feat. Bad Bunny)

              Artist Release Date          ISRC All Time Rank  Track Score  \
0      Tommy Richman    4/26/2024  QM24S2402528             1        725.4
1     Kendrick Lamar     5/4/2024  USUG12400910             2        545.9
2            Artemas    3/19/2024  QZJ842400387             3        538.4
3        Miley Cyrus    1/12/2023  USSM12209777             4        444.9
4             Eminem    5/31/2024  USUG12403398             5        423.3
...              ...          ...           ...           ...          ...
4595     $uicideboy$     9/5/2017  QM8DG1703420         4,585         19.4
4596      Atif Aslam    7/27/2018  INT101800122         4,575         19.4
4597        Lil Baby    2/28/2020  USUG12000043         4,571         19.4
4598    Arijit Singh    11/8/2016  INY091600067         4,591         19.4
4599       ArcÃ¯Â¿Â½Ã¯Â¿Â½    4/11/2017  USB271700107         4,593         19.4

     Spotify Streams Spotify Playlist Count Spotify Playlist Reach  ...  \
0        390,470,936                 30,716            196,631,588  ...
1        323,703,884                 28,113            174,597,137  ...
2        601,309,283                 54,331            211,607,669  ...
3      2,031,280,633                269,802            136,569,078  ...
4        107,034,922                  7,223            151,469,874  ...
...              ...                    ...                    ...  ...
4595     305,049,963                 65,770              5,103,054  ...
4596      52,282,360                  4,602              1,449,767  ...
4597     189,972,685                 72,066              6,704,802  ...
4598     145,467,020                 14,037              7,387,064  ...
4599     255,740,653                 32,138             14,066,526  ...

      SiriusXM Spins Deezer Playlist Count Deezer Playlist Reach  \
0                684                  62.0            17,598,718
1                  3                  67.0            10,422,430
2                536                 136.0            36,321,847
3              2,182                 264.0            24,684,248
4                  1                  82.0            17,660,624
...              ...                   ...                   ...
4595             NaN                   2.0                14,217
4596             NaN                   1.0                   927
4597             NaN                   1.0                    74
4598             NaN                   NaN                   NaN
4599             NaN                   4.0               127,479

     Amazon Playlist Count Pandora Streams Pandora Track Stations  \
0                    114.0      18,004,655                 22,931
1                    111.0       7,780,028                 28,444
2                    172.0       5,022,621                  5,639
3                    210.0     190,260,277                203,384
4                    105.0       4,493,884                  7,006
...                    ...             ...                    ...
4595                   NaN      20,104,066                 13,184
4596                   NaN             NaN                    NaN
4597                   6.0      84,426,740                 28,999
4598                   7.0       6,817,840                    NaN
4599                   4.0      69,006,739                 11,320

     Soundcloud Streams  Shazam Counts TIDAL Popularity Explicit Track
0             4,818,457      2,669,262              NaN              0
1             6,623,075      1,118,279              NaN              1
2             7,208,651      5,285,340              NaN              0
3                   NaN     11,822,942              NaN              0
4               207,179        457,017              NaN              1
...                 ...            ...              ...            ...
4595         50,633,006        656,337              NaN              1
4596                NaN        193,590              NaN              0
4597                NaN      1,135,998              NaN              1
4598                NaN        448,292              NaN              0
4599                NaN        767,006              NaN              1

[4600 rows x 29 columns]

In [232]:
df.loc[4598]

Track                           Nashe Si Chadh Gayi
Album Name                    November Top 10 Songs
Artist                                 Arijit Singh
Release Date                              11/8/2016
ISRC                                   INY091600067
All Time Rank                                 4,591
Track Score                                    19.4
Spotify Streams                         145,467,020
Spotify Playlist Count                       14,037
Spotify Playlist Reach                    7,387,064
Spotify Popularity                             66.0
YouTube Views                         1,118,595,159
YouTube Likes                             3,868,828
TikTok Posts                                 11,433
TikTok Likes                              2,534,831
TikTok Views                             37,757,301
YouTube Playlist Reach                   25,150,516
Apple Music Playlist Count                      1.0
AirPlay Spins                                 1,200
SiriusXM Spins                                  NaN
Deezer Playlist Count                           NaN
Deezer Playlist Reach                           NaN
Amazon Playlist Count                           7.0
Pandora Streams                           6,817,840
Pandora Track Stations                          NaN
Soundcloud Streams                              NaN
Shazam Counts                               448,292
TIDAL Popularity                                NaN
Explicit Track                                    0
Name: 4598, dtype: object

In [233]:
df.columns

Index(['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC',
       'All Time Rank', 'Track Score', 'Spotify Streams',
       'Spotify Playlist Count', 'Spotify Playlist Reach',
       'Spotify Popularity', 'YouTube Views', 'YouTube Likes', 'TikTok Posts',
       'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach',
       'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins',
       'Deezer Playlist Count', 'Deezer Playlist Reach',
       'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations',
       'Soundcloud Streams', 'Shazam Counts', 'TIDAL Popularity',
       'Explicit Track'],
      dtype='object')

In [234]:
dropCols = (['ISRC','YouTube Likes','TikTok Posts','TikTok Likes','TikTok Views','YouTube Playlist Reach','Apple Music Playlist Count','Shazam Counts','TIDAL Popularity','Explicit Track'])

In [235]:
df['SiriusXM Spins'] = df.dropna

In [236]:
df = df.drop(dropCols,axis=1)

In [237]:
df.isnull().sum()

Track                        0
Album Name                   0
Artist                       5
Release Date                 0
All Time Rank                0
Track Score                  0
Spotify Streams            113
Spotify Playlist Count      70
Spotify Playlist Reach      72
Spotify Popularity         804
YouTube Views              308
AirPlay Spins              498
SiriusXM Spins               0
Deezer Playlist Count      921
Deezer Playlist Reach      928
Amazon Playlist Count     1055
Pandora Streams           1106
Pandora Track Stations    1268
Soundcloud Streams        3333
dtype: int64

In [238]:
df.dtypes

Track                      object
Album Name                 object
Artist                     object
Release Date               object
All Time Rank              object
Track Score               float64
Spotify Streams            object
Spotify Playlist Count     object
Spotify Playlist Reach     object
Spotify Popularity        float64
YouTube Views              object
AirPlay Spins              object
SiriusXM Spins             object
Deezer Playlist Count     float64
Deezer Playlist Reach      object
Amazon Playlist Count     float64
Pandora Streams            object
Pandora Track Stations     object
Soundcloud Streams         object
dtype: object

In [239]:
df['YouTube Views']

0          84,274,754
1         116,347,040
2         122,599,116
3       1,096,100,899
4          77,373,957
            ...
4595      149,247,747
4596      943,920,245
4597      201,027,333
4598    1,118,595,159
4599      866,300,755
Name: YouTube Views, Length: 4600, dtype: object

In [240]:
df['YouTube Views'].fillna(df['YouTube Views'].mode(),inplace=True)

In [241]:
df['Amazon Playlist Count'].fillna(df['Amazon Playlist Count'].mean(),inplace=True)

In [242]:
df['Deezer Playlist Count'].fillna(df['Deezer Playlist Count'].median(),inplace=True)

In [243]:
df['Spotify Popularity'].fillna(df['Spotify Popularity'].ffill(),inplace=True)

In [244]:
df['Soundcloud Streams'].fillna(df['Soundcloud Streams'].ffill(),inplace=True)

In [245]:
df['Pandora Track Stations'].fillna(df['Pandora Track Stations'].ffill(),inplace=True)

In [246]:
df['Pandora Streams'].fillna(df['Pandora Streams'].bfill(),inplace=True)

In [247]:
df['Deezer Playlist Reach'].fillna(df['Deezer Playlist Reach'].bfill(),inplace=True)

In [248]:
df['AirPlay Spins'] = df.dropna

In [249]:
df['YouTube Views'] = df['YouTube Views'].fillna(0)

In [250]:
df['Spotify Streams'].head(10)

0      390,470,936
1      323,703,884
2      601,309,283
3    2,031,280,633
4      107,034,922
5      670,665,438
6      900,158,751
7      675,079,153
8    1,653,018,119
9       90,676,573
Name: Spotify Streams, dtype: object

In [251]:
df['Pandora Streams'].fillna(df['Pandora Streams'].bfill(),inplace=True)

In [252]:
first_10_values = df['Spotify Streams'].dropna().head(120).tolist()

df['Spotify Streams'] = df['Spotify Streams'].apply(lambda x: first_10_values.pop(0) if pd.isna(x) and first_10_values else x)

In [253]:
df.isnull().sum()

Track                      0
Album Name                 0
Artist                     5
Release Date               0
All Time Rank              0
Track Score                0
Spotify Streams            0
Spotify Playlist Count    70
Spotify Playlist Reach    72
Spotify Popularity         0
YouTube Views              0
AirPlay Spins              0
SiriusXM Spins             0
Deezer Playlist Count      0
Deezer Playlist Reach      0
Amazon Playlist Count      0
Pandora Streams            0
Pandora Track Stations     0
Soundcloud Streams         0
dtype: int64

In [254]:
df['Spotify Playlist Count'].fillna(df['Spotify Playlist Count'].bfill(),inplace=True)

In [261]:
df['Artist'] = df['Artist'].fillna(0)

In [262]:
df['Spotify Playlist Reach'].fillna(df['Spotify Playlist Reach'].ffill(),inplace=True)

In [263]:
df.isnull().sum()

Track                     0
Album Name                0
Artist                    0
Release Date              0
All Time Rank             0
Track Score               0
Spotify Streams           0
Spotify Playlist Count    0
Spotify Playlist Reach    0
Spotify Popularity        0
YouTube Views             0
AirPlay Spins             0
SiriusXM Spins            0
Deezer Playlist Count     0
Deezer Playlist Reach     0
Amazon Playlist Count     0
Pandora Streams           0
Pandora Track Stations    0
Soundcloud Streams        0
dtype: int64

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Track                   4600 non-null   object
 1   Album Name              4600 non-null   object
 2   Artist                  4600 non-null   object
 3   Release Date            4600 non-null   object
 4   All Time Rank           4600 non-null   object
 5   Track Score             4600 non-null   float64
 6   Spotify Streams         4600 non-null   object
 7   Spotify Playlist Count  4600 non-null   object
 8   Spotify Playlist Reach  4600 non-null   object
 9   Spotify Popularity      4600 non-null   float64
 10  YouTube Views           4600 non-null   object
 11  AirPlay Spins           4600 non-null   object
 12  SiriusXM Spins          4600 non-null   object
 13  Deezer Playlist Count   4600 non-null   float64
 14  Deezer Playlist Reach   4600 non-null   object
 15  Amazon Playlist Count   4600 non-null   float64
 16  Pandora Streams         4600 non-null   object
 17  Pandora Track Stations  4600 non-null   object
 18  Soundcloud Streams      4600 non-null   object
dtypes: float64(4), object(15)
memory usage: 682.9+ KB

In [265]:
# Visualization